header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    font-size: 30px;
    order: 1;
    margin-left: 15px;
}

nav {
    order: 2;
}

.navigation {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.navigation-item {
    display: inline;
    margin-left: 20px;    
    font-size: 30px;
    margin-right: 15px;   
}

.navigation-item-link {
    text-decoration: none;
    color: #18346b;
    border-radius: 5px;
}

.navigation-item-link:visited {
    text-decoration: none;
    color: #18346b;
}

.navigation-item-link:hover {
    background-color: rgb(91, 98, 174);
    color: #162748;
    transition: 1.5s;
}
